    {{#each this}}
<div class="thumb">
    <div class="country-header"></div>
    <img src="{{this.flag}}" alt="{{this.name}}" class="image-list" width="60" height="40">
    <h1 class="name-header">{{this.name}}</h1>
    </div>
</div>
    {{/each}}